.enlace{
  text-decoration: none;
  color:black;
  transition: 300ms;
}
.enlace:hover{
  color: lightblue;

  cursor: pointer;
}
.activ{
  color: rgb(55, 55, 226);

}
.titulo{
  display: flex;
}
.alinear{
  float:right;
  width: 250px;
}